<!-- Heading -->
<div class="container">
  <h1 class="display-4 pt-4">Administrator Services</h1>
  <!--<p class="lead">Manage</p>-->
</div>
<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row pt-5">
    <div class="col-lg-4">
      <img src="../../assets/img/author.png" routerLink="/lms/admin/author">

      <h2 class="text-center mt-2">Authors</h2>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="../../assets/img/book.png" routerLink="/lms/admin/book">

      <h2 class="text-center mt-2">Books</h2>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="../../assets/img/publisher.png" routerLink="/lms/admin/publisher">

      <h2 class="text-center mt-2">Publishers</h2>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <!-- Three columns of text below the carousel -->
  <div class="row pt-5">
    <div class="col-lg-4">
      <img src="../../assets/img/genre.png" routerLink="/lms/admin/genre">

      <h2 class="text-center mt-2">Genres</h2>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="../../assets/img/borrower.png" routerLink="/lms/admin/borrower">

      <h2 class="text-center mt-2">Borrowers</h2>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="../../assets/img/branch.png" routerLink="/lms/admin/branch">

      <h2 class="text-center mt-2">Branches</h2>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <!-- Three columns of text below the carousel -->
  <div class="row pt-5">
    <div class="col-lg-4">
      <img src="../../assets/img/loan.png" routerLink="/lms/admin/loan">

      <h2 class="text-center mt-2">Extend Loans</h2>
    </div>
  </div>
  <!-- /.row -->

</div>