<div class="container marketing">
  <h2>Total number of records that matched the request are {{ totalBookCopies }} as of {{ today | date: "short" }}</h2>
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Library</th>
        <th scope="col">Number of Copies</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of bookCopies; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ b.title }}</td>
        <td>{{ b.branchName }}</td>
        <td>{{ b.noOfCopies}}</td>
        <td></td>
        <td><button type="button" class="btn btn-secondary" (click)="(open(updateBranchModal, b))">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>