<div class="container marketing">
  <h2>Total number of Branches in LMS are {{ totalBranches }} as of {{ today | date: "short" }}</h2>
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of branches; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ b.branchName }}</td>
        <td>{{ b.branchAddress }}</td>
        <td></td>
        <td><button type="button" class="btn btn-secondary" (click)="(open(updateBranchModal, b))">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <ng-template #updateBranchModal let-c="close" let-d="dismiss">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Branch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="c()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Name: <input type="text" [(ngModel)]="selectedObj.branchName" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="c()">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateBranch()">Save changes</button>
      </div>
    </div>
  </div>
</ng-template> -->