<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-6">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" />
        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>
      <h2>Library Branches Services</h2>
      <p>
        View Library branches information and edit.
      </p>
      <p>
        <a class="btn btn-secondary" routerLink="/lms/librarian/branches" role="button">View details &raquo;</a>
      </p>
    </div>
      <div class="col-lg-6">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" />
          <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h2>Book Copies Services</h2>
        <p>
          View book copies and edit.
        </p>
        <p>
          <a class="btn btn-secondary" routerLink="/lms/librarian/copies" role="button">View details &raquo;</a>
        </p>
      </div>
    </div>
</div>