<div class="container-fluid">
  <div class="row">
    <div id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <span>Nav, Search, Filters</span>
        
      </div>
    </div>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Branch Name | Borrower Name</h1> 
      </div>
      <app-borrower-book-list></app-borrower-book-list>
    </main>
  </div>
</div>
