@import '~bootstrap/dist/css/bootstrap.min.css';

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #444;
}

.successMsg {
    color: green;
    margin-left: 10px;
    font-style: italic;
}

.failureMsg {
    color: red;
    margin-left: 10px;
    font-style: italic;
}