@import '~bootstrap/dist/css/bootstrap.min.css';

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #444;
}

.div-button {
    padding: 25px 0px;
}

.div-button:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.successMsg {
    color: green;
    margin-left: 10px;
    font-style: italic;
}

.failureMsg {
    color: red;
    margin-left: 10px;
    font-style: italic;
}

.error-msg {
    color: red;
    margin-bottom: 10px;
}