<div class="container marketing">
  <h2>Total number of Borrowers in LMS are {{ totalBorrowers }} as of {{ today | date: "short" }}</h2>
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of borrowers; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ b.borrowerName }}</td>
        <td>{{ b.borrowerAddress }}</td>
        <td>{{ b.borrowerPhone }}</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>